[policy:mastercheckerpolicy]
type=decremental
result_filepath=/tmp/staging/master/result

[checker:masterchecker]
type=python.pylint
staging_dir=/tmp/staging/master/staging
policy=mastercheckerpolicy
rcfile=

[rule:refs/heads/master]
refmatch=master
checker=masterchecker
